snippet userform

<form method="POST">
 	<label>
 		<b>Login</b>
 		<div>
 			<input type="text" placeholder="Enter Login" name="login" required>
 		</div>
 	</label>	 	

  <label>
  	<b>Password</b>
    <div>
    	<input type="password" placeholder="Enter Password" name="password" required>
    </div>
  </label>

  <button>Register</button>
</form>

endsnippet

